<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
    <a class="navbar-brand" href="/">Restaurant RapiFood</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/about">Acerca de Nosotros</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/productos">Productos</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/crear_producto">Nuevo Producto</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/platos">Platos</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/crear_plato">Nuevo Plato</a>
            </li>
        </ul>
    </div>
</div>

{% block content %}
{% endblock %}