{% extends 'nav.html' %}
{% block content %}
    <head>
        <title>Lista de Platos</title>
    </head>

    <body>
        <h1>Platos</h1>
        <p>En esta sección se <muestra></muestra> una lista de todos los platos y sus ingredientes.</p>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col">Productos</th>
                </tr>
            </thead>
            <tbody>
                {% for plato in platos %}
                <tr>
                  <th scope="row">{{ plato.id }}</th>
                  <td>{{ plato.nombre }}</td>
                  <td>{{ plato.description }}</td>
                  <td>{{ plato.precio }}</td>
                  <td>{{ plato.producto.all|join:", " }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>

{% endblock %}
